## Predicting the Market
We would like to build a model to predict the next trade price for 500 illiquid assets. For the purpose of this exercise, we have created a synthetic dataset which mimics the behavior of the Corporate (Syndicated) Loan market. 
The dataset includes a metadata file for assets (./assets.csv) and a dataset for historical trades (./trades.csv).

### Target:
The target would be to predict the next trade price for 500 illiquid* assets at time T. In practice, you would be able to predict the price of an asset in the morning before any trades happen.

### Inputs:
* Static:
    * 'Assets' meta data, which includes assets' static attributes (500x7 matrix).
* Dynamic:
    * On any given day in history, there's a handful of trades done for a portion of the universe: 
        * On any given day, there might either be no trades, one trade, or multiple trades done for any asset.
        * For each trade, we have the following trade attributes: Date, Asset, Price, Notional, Type.
    * Everyday that the market is open, there is a vector defining the market condition. Feel free to use publicly available data sources to extract any market indicative data that you think could be important in predicting the trade prices. Keep in mind we are focusing on the fixed income (credit) market**. 


*Illiquid: does not trade frequently, so there is no live price available like in the stock market. The last trade on an asset may have happened a few days ago.

**Hint: Is there any ETF that carries information about the Syndicated Loan market?

### What you need to do:

Create a model to predict the prices for the assets provided in the 'assets' meta data file. Provide performance analyses for your model. Keep in mind that you are buiding a financial model, so explainability is key. Pick one random prediction. How can you explain your model's results on why it has predicted a certain price for a given asset? What are the main causes for the different predictions either in different days or for different assets?

In [5]:
import pandas as pd

assets_df = pd.read_csv("./assets.csv")
trades_df = pd.read_csv("./trades.csv")

In [6]:
assets_df.head()

     name rating seniority  coupon_spread coupontype currency  industry
0  Asset0     B2  1st lien          391.0        NaN      USD       NaN
1  Asset1    Ba2  1st lien          425.0      fixed      USD  sector17
2  Asset2     B2  1st lien          555.0   floating      USD  sector20
3  Asset3     B2  1st lien          342.0   floating      NaN  sector18
4  Asset4    Ba1  1st lien          340.0   floating      NaN  sector13

In [7]:
trades_df.head()

  transaction_date      name  type   notional  trade_price
0       2021-08-02  Asset453   BUY  1500000.0        98.02
1       2021-08-02  Asset376  SELL  2000000.0        98.01
2       2021-08-02  Asset297   BUY  1000000.0        98.04
3       2021-08-02  Asset388   BUY  1500000.0        97.97
4       2021-08-02  Asset101   BUY  1500000.0        98.05